* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    background-color: $color-background;
}

.logo {
    width: 100vw;
    height: auto;
    @include flex-row-center;
    margin-top: 5.6rem;
}

.add-to-section {
    width: 100vw;
    height: auto;
    @include flex-row-center;
}

.add-todo {
    width: 82.8rem;
    height: 8.8rem;
    background-color: white;
    margin-top: 13.2rem;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
}

.text-input {
    width: 68.4rem;
    height: auto;
}

.text-input input{
    width: 68.4rem;
    @include font-project;
    border: none;
    @include margin-left;
    outline-style: none;
}

::placeholder {
   font-style: italic;
   font-weight: 100;
   color: rgba(0, 0, 0, 0.3);
  }

.underline {
    width: 68.4rem;
    height: 1px;
    background-color: $color-lines;
    margin-top: 2px;
    @include margin-left;
}

.add-todo button, .add-todo button:active {
    border: none;
    background-color: none;
    outline-style: none;
}

.button {
    margin-right: 21px;
}

p {
    @include font-project;
}

